*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #D61355, #dd2476);    background-size: cover;

}
nav{
    box-shadow: 0px 0px 5px 0px rgba(105, 74, 74, 0.9);
    /* background-color: rgba(95, 95, 110, 0.5); */
    text-shadow: 4px 4px 2px rgba(63, 59, 59, 0.3);
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
}
#output{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    border: 2px solid black;
    padding: 20px;
    height: 60vh;
    width: 50%;
    background-color: #70b0f4;
}